$color-white: white;
$color-white-FBFBFB: #FBFBFB;
$color-white-E1E1E1: #E1E1E1;
$color-white-F1E4E6: #F1E4E6;
$color-white-F8F3F4: #F8F3F4;
$color-white-E5E5E5: #E5E5E5;
$color-white-EBEBEB: #EBEBEB;
$color-pink-EF5B70: #EF5B70;
$color-pink-F16D7F: #F16D7F;
$color-pink-FF6A6A: #FF6A6A;
$color-pink-f26376: #f26376;
$color-grey-6F6E6E: #6F6E6E;
$color-grey-5D5D5D: #5D5D5D;
$color-lightgrey-9F9F9F: #9F9F9F;
$color-black-000000: #000000;
$color-black-222222: #222222;
$color-black-222224: #222224;
$color-grey-575757: #575757;
$color-lightgrey-A4A4A4: #A4A4A4;
$color-lightgrey-B1B1B1: #B1B1B1;